$primary-color: #274355;
$secondary-color: #00E3EB;

$white-color-high: #FFFFFF;
$white-color-medium: #dddddd;

$positive-color: #DCFCE7;
$negative-color: #FFD8CB;

$primary-text-color: #1D1C29;
$secondary-text-color: #274355;
$text-color-light: #7B91B0;